.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    margin: 20px;
}

.pagination button {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 3px;
    color:#2367EE;
    font-weight: bold;
    cursor: pointer;
}

.pagination button:hover {
    opacity: 0.8;
}
.pagination button.active {
    background: #2367EE;
    color: white;
    border-color: #2367EE;
}
.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}